sktime==0.32.3
skchange
scikit-learn>=1.4
skpro
statsmodels
seaborn
pmdarima
jupyterlab
numpy<2.0
prophet
optuna
networkx
pytorch-forecasting
torch<2.4.0
lightning
setuptools
transformers
peft
accelerate
pytest
-e ./example_package
